<phpdox xmlns="http://phpdox.de/config">
    <project name="Khameleon" source="src" workdir="build/phpdox">

        <collector publiconly="true">
            <include mask="*.php" />
            <exclude mask="*autoload.php" />
        </collector>

        <generator output="build">
            <build engine="html" enabled="true" output="api"/>
        </generator>
        
    </project>
</phpdox>